<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <header></header>
    <main>
      <%- include('./details', {indexObj: indexObj}) %>
    </main>
    <footer>
      <a href="../">Home Page</a>
    </footer>
  </body>
</html>