<!DOCTYPE html>
<html>
  <head>
    <title>A Book-Wiki: Book Details</title>
    <link href= "../styles/reset.css" rel = "stylesheet" type = "text/css">
    <link href= "../styles/base.css" rel = "stylesheet" type = "text/css">
    <link href= "../styles/layout.css" rel = "stylesheet" type = "text/css">
    <link href= "../styles/modules.css" rel = "stylesheet" type = "text/css">
    </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div id="book_detail_display">
        <%- include('./details', {indexObj: indexObj, requestMethod: 'GET', targetUrl: '/', buttonValue: 'Home Page'}) %>
      </div>
      <p id="book_description_title">Book Description:<p>
      <p id="book_detail_description"><%= indexObj.book_description %></p>
    </main>
    <footer>
    </footer>
  </body>
</html>