<!DOCTYPE html>
<html>
<head>
  <title>Open Shelf: A Book-Wiki</title>
  <link href= "../styles/reset.css" rel = "stylesheet" type = "text/css">
  <link href= "../styles/base.css" rel = "stylesheet" type = "text/css">
  <link href= "../styles/layout.css" rel = "stylesheet" type = "text/css">
  <link href= "../styles/modules.css" rel = "stylesheet" type = "text/css">
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    <form action = "/searches" method = "POST">
      <fieldset>
        <label id="searchLabel">Search:</label>
        <input type = "text" name = "search" id="searchBox">
        <select name = "searchBy" id="searchDrop">
          <option value = "author">Author</option>
          <option value = "title">Title</option>
        </select>
        <input type = submit id="submitButton">
      </fieldset>
    </form>
  </main>
  <footer>

  </footer>

</body>

</html>