<!DOCTYPE html>
<html>
<head>
  <title>Open Shelf: A Book-Wiki</title>
  <link href= "../styles/reset.css" rel = "stylesheet" type = "text/css">
  <link href= "../styles/base.css" rel = "stylesheet" type = "text/css">
  <link href= "../styles/layout.css" rel = "stylesheet" type = "text/css">
  <link href= "../styles/modules.css" rel = "stylesheet" type = "text/css">
</head>
<body>
  <header>

  </header>
  <main>
    <h1>
      New Google Books Search
    </h1>
    <form>
      <fieldset>
        <label>Search:</label>
        <input type = "text">
        <select>
          <option name = "author">Author</option>
          <option name = "title">Title</option>
        </select>
        <button>Submit</button>
      </fieldset>
    </form>
  </main>
  <footer>

  </footer>

</body>

</html>