<!DOCTYPE html>
<html>
<head>
  <title>Open Shelf: A Book-Wiki</title>
  <link href= "../styles/reset.css" rel = "stylesheet" type = "text/css">
  <link href= "../styles/base.css" rel = "stylesheet" type = "text/css">
  <link href= "../styles/layout.css" rel = "stylesheet" type = "text/css">
  <link href= "../styles/modules.css" rel = "stylesheet" type = "text/css">
</head>
<body>
  <header>
    <h1>
      New Google Books Search 
    </h1>
  </header>
  <main>
    <ul>
      <% for(let i = 0; i <books.length; i++) { %>
        <li>
          <img src = <%= books[i].img_url %> >
          <h2><%= books[i].title %></h2>
          <h4> <%= books[i].authors %></h4>
          <p><%= books[i].description %></p>
        </li>
     <% } %>
    </ul>
  </main>
  <footer>

  </footer>

</body>

</html>