<!DOCTYPE html>
<html>
<head>
  <title>Open Shelf: A Book-Wiki</title>
  <link href= "../styles/reset.css" rel = "stylesheet" type = "text/css">
  <link href= "../styles/base.css" rel = "stylesheet" type = "text/css">
  <link href= "../styles/layout.css" rel = "stylesheet" type = "text/css">
  <link href= "../styles/modules.css" rel = "stylesheet" type = "text/css">
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    <div class = "book_list_display">
      <% for(let i = 0; i <books.length; i++) { %>
        <%- include('../books/details', {indexObj: books[i], targetUrl: '/books/' + books[i].id, buttonValue: 'Save Book'}) %>
      <% } %>
    </div>
  </main>
  <footer>

  </footer>

</body>

</html>