<!DOCTYPE html>
<html>
<head>
  <title>Open Shelf: A Book-Wiki</title>
  <link href= "./styles/reset.css" rel = "stylesheet" type = "text/css">
  <link href= "./styles/base.css" rel = "stylesheet" type = "text/css">
  <link href= "./styles/layout.css" rel = "stylesheet" type = "text/css">
  <link href= "./styles/modules.css" rel = "stylesheet" type = "text/css">
</head>
<body>
  <header>

  </header>
  <main>
    <h1>
      Howdy Partner
    </h1>
  </main>
  <footer>

  </footer>

</body>

</html>