<!DOCTYPE html>
<html>
<head>
  <title>Open Shelf: A Book-Wiki</title>
  <link href= "./styles/reset.css" rel = "stylesheet" type = "text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
  <link href= "./styles/base.css" rel = "stylesheet" type = "text/css">
  <link href= "./styles/layout.css" rel = "stylesheet" type = "text/css">
  <link href= "./styles/modules/modules.css" rel = "stylesheet" type = "text/css">
</head>
<body>
  <%- include('./partials/header') %>
  <main>
    <h2>Number of Books: <%= indexData.length %></h2> 
    <div class = "book_list_display">
      <% indexData.forEach(indexObj => { %>
        <%- include('./books/details', {indexObj: indexObj, requestMethod: 'GET', targetUrl: '/books/' + indexObj.id, buttonValue: 'View Details'}) %>
        <!-- Need to add in a SQL Insert to -->
      <% }) %>
    </div>
  </main>
  <footer>

  </footer>

</body>

</html>