<!DOCTYPE html>
<html>
<head>
  <title>Open Shelf: A Book-Wiki</title>
  <link href= "./styles/reset.css" rel = "stylesheet" type = "text/css">
  <link href= "./styles/base.css" rel = "stylesheet" type = "text/css">
  <link href= "./styles/layout.css" rel = "stylesheet" type = "text/css">
  <link href= "./styles/modules.css" rel = "stylesheet" type = "text/css">
</head>
<body>
  <header>
    <h1>
      New Google Books Search
    </h1>
  </header>
  <main>
    <h2>Number of Books: <%= indexData.length %></h2> 
    <% indexData.forEach(indexObj => { %>
      <%- include('./books/details', {indexObj: indexObj, buttonValue: 'View Details'}) %>
    <% }) %>
  </main>
  <footer>

  </footer>

</body>

</html>