/* ======================================================================================================= */
/* ======================================== Header Partial Display ======================================= */
/* ======================================================================================================= */

header{
  height: 10vh;
  font-size: xx-large;
  background-color: #0f9068;
}

header h1{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ======================================================================================================= */
/* ===================================== Book Detail Partial Display ===================================== */
/* ======================================================================================================= */

.display_books{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 20px;
}

.display_books h3{
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 5px;
}

.display_books h5{
  font-weight: bold;
  margin-bottom: 3px;
}

.display_books img{
  width: auto;
  height: 300px;
}

.display_books p{
  margin: 2px;
}

.display_books form input{
  width: 100%;
}

#saveBookForm{
  width:80%;
}

#book_detail_form{
  display: none;
}