/* ======================================================================================================= */
/* ========================================== Book List Display ========================================== */
/* ======================================================================================================= */

.book_list_display{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* ======================================================================================================= */
/* ========================================= Book Detail Display ========================================= */
/* ======================================================================================================= */

#book_detail_display{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0 30px 0;
}

#book_description_title{
  text-align: center;
  text-decoration: underline;
  font-weight: bold; 
  margin-bottom: 10px;
}

#book_detail_description{
  width: 50vw;
  text-align: center;
  margin: auto;
}

/* ======================================================================================================= */
/* ============================================= Form Display ============================================ */
/* ======================================================================================================= */

#form_display{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form{
  height: 100%;
  background-color: #0f906880;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 500px;
}

#searchLabel{
  width: 15%;
}

#searchBox{
  width: 85%
}

#searchDrop{
  width: 15%;
  margin-top: 5px;;
}

#submitButton{
  width: 85%;
  margin-top: 5px;;
}

@media(min-width: 600px){
  form{
    max-width: 600px;
  }
}